In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [37]:
vehicules_all = pd.read_csv("vehi.csv")
usagers_all = pd.read_csv("usagers.csv")

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_7079/2907216587.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicules_all = pd.read_csv("vehi.csv")
/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_7079/2907216587.py:2: DtypeWarning: Columns (8,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  usagers_all = pd.read_csv("usagers.csv")

In [36]:
vehicules_all.head()

,Num_Acc,senc,catv,occutc,obs,obsm,choc,manv,num_veh,id_vehicule,motor
0,201800000001,0.0,7,0.0,0.0,2.0,3.0,1.0,B01,NaN,NaN
1,201800000001,0.0,7,0.0,0.0,2.0,2.0,15.0,A01,NaN,NaN
2,201800000002,0.0,7,0.0,0.0,1.0,0.0,1.0,A01,NaN,NaN
3,201800000003,0.0,33,0.0,1.0,2.0,1.0,1.0,A01,NaN,NaN
4,201800000003,0.0,7,0.0,0.0,2.0,8.0,15.0,B01,NaN,NaN

In [42]:
vehicules_all[vehicules_all['catv']==1]

,Num_Acc,senc,catv,occutc,obs,obsm,choc,manv,num_veh,id_vehicule,motor
6,201800000004,0.0,1,0.0,0.0,2.0,8.0,0.0,B01,NaN,NaN
30,201800000020,2.0,1,0.0,12.0,0.0,7.0,1.0,B01,NaN,NaN
71,201800000044,1.0,1,0.0,0.0,0.0,8.0,2.0,A01,NaN,NaN
81,201800000051,1.0,1,0.0,0.0,0.0,4.0,2.0,B01,NaN,NaN
91,201800000056,2.0,1,0.0,0.0,2.0,6.0,2.0,B01,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2009324,201500058611,0.0,1,0.0,14.0,2.0,1.0,17.0,B01,NaN,NaN
2009333,201500058616,0.0,1,0.0,0.0,2.0,1.0,1.0,B01,NaN,NaN
2009350,201500058626,0.0,1,0.0,0.0,1.0,1.0,0.0,A01,NaN,NaN
2009355,201500058629,0.0,1,0.0,1.0,0.0,1.0,15.0,A01,NaN,NaN
2009386,201500058648,0.0,1,0.0,0.0,2.0,8.0,15.0,B01,NaN,NaN

In [40]:
usagers_all.head()
usagers_all["id_usager"].isnull().sum()

2380467

In [4]:
lieux = pd.read_csv('../clean_data/lieux_clean.csv')
usagers = pd.read_csv('../clean_data/usagers_clean.csv')
vehicules = pd.read_csv('../clean_data/vehicules_clean.csv')

In [6]:
lieux.head()

        Num_Acc  catr  circ  nbv  vosp  prof  plan  surf  infra  situ
0  201700000001   3.0   2.0  2.0   2.0   1.0   1.0   1.0    0.0   1.0
1  201700000002   3.0   2.0  2.0   0.0   1.0   1.0   1.0    1.0   1.0
2  201700000003   3.0   2.0  2.0   0.0   1.0   1.0   1.0    1.0   1.0
3  201700000004   3.0   2.0  2.0   0.0   1.0   1.0   1.0    1.0   1.0
4  201700000005   3.0   2.0  2.0   0.0   1.0   1.0   1.0    0.0   1.0

In [7]:
usagers.head()

        Num_Acc  grav  sexe  trajet  secu  locp  actp  etatp  an_nais
0  200600000001     4     1       5   1.0   0.0     0    0.0   1949.0
1  200600000001     4     2       5   1.0   0.0     0    0.0   1948.0
2  200600000001     1     2       5   1.0   0.0     0    0.0   1921.0
3  200600000002     4     2       1   1.0   0.0     0    0.0   1972.0
4  200600000002     4     2       2   1.0   0.0     0    0.0   1984.0

In [30]:
vehicules[vehicules['Num_Acc']==201800000004]

        Num_Acc  catv  obs  obsm  choc  manv
6  201800000004     1  0.0   2.0   8.0  15.0
7  201800000004     7  0.0   9.0   2.0  21.0

In [26]:
# Filtrer le DataFrame vehi_velo
vehi_velo_filtered = vehicules[vehicules['catv'] == 1]

# Fusionner les DataFrames
merged_df = pd.merge(vehi_velo_filtered, usagers, on='Num_Acc')
merged_df = pd.merge(merged_df, lieux, on='Num_Acc')

# Afficher les premières lignes du DataFrame fusionné
merged_df.head()

,Num_Acc,catv,obs,obsm,choc,manv,grav,sexe,trajet,secu,...,an_nais,catr,circ,nbv,vosp,prof,plan,surf,infra,situ
0,201800000004,1,0.0,2.0,8.0,15.0,3,1,5,1.0,...,2013.0,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
1,201800000004,1,0.0,2.0,8.0,15.0,1,1,5,1.0,...,1982.0,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
2,201800000020,1,12.0,0.0,7.0,1.0,1,1,4,1.0,...,1988.0,4.0,2.0,2.0,0.0,1.0,2.0,1.0,0.0,1.0
3,201800000020,1,12.0,0.0,7.0,1.0,3,1,9,1.0,...,1997.0,4.0,2.0,2.0,0.0,1.0,2.0,1.0,0.0,1.0
4,201800000044,1,0.0,0.0,8.0,2.0,1,1,5,1.0,...,2000.0,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0

In [27]:
merged_df.shape

(177055, 23)

In [29]:
merged_df.head()

,Num_Acc,catv,obs,obsm,choc,manv,grav,sexe,trajet,secu,...,an_nais,catr,circ,nbv,vosp,prof,plan,surf,infra,situ
0,201800000004,1,0.0,2.0,8.0,15.0,3,1,5,1.0,...,2013.0,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
1,201800000004,1,0.0,2.0,8.0,15.0,1,1,5,1.0,...,1982.0,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
2,201800000020,1,12.0,0.0,7.0,1.0,1,1,4,1.0,...,1988.0,4.0,2.0,2.0,0.0,1.0,2.0,1.0,0.0,1.0
3,201800000020,1,12.0,0.0,7.0,1.0,3,1,9,1.0,...,1997.0,4.0,2.0,2.0,0.0,1.0,2.0,1.0,0.0,1.0
4,201800000044,1,0.0,0.0,8.0,2.0,1,1,5,1.0,...,2000.0,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0

In [15]:
duplicates = velo_df[velo_df.duplicated(subset='Num_Acc', keep=False)]
duplicates

,Num_Acc,catr,circ,nbv,vosp,prof,plan,surf,infra,situ,...,secu,locp,actp,etatp,an_nais,catv,obs,obsm,choc,manv
7,201700000002,3.0,2.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0,0.0,1953.0,1,0.0,0.0,7.0,1.0
9,201700000002,3.0,2.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0,0.0,1960.0,1,0.0,0.0,7.0,1.0
67,201700000019,3.0,2.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0,0.0,1984.0,1,0.0,2.0,2.0,2.0
69,201700000019,3.0,2.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0,0.0,1967.0,1,0.0,2.0,2.0,2.0
84,201700000022,3.0,2.0,2.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,0.0,0,0.0,1955.0,1,0.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4989150,201900058727,4.0,2.0,4.0,1.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0,0.0,1997.0,1,0.0,6.0,1.0,1.0
4989337,201900058778,4.0,3.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0,0.0,1986.0,1,0.0,2.0,1.0,15.0
4989339,201900058778,4.0,3.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0,0.0,1980.0,1,0.0,2.0,1.0,15.0
4989473,201900058819,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0,0.0,2004.0,1,0.0,0.0,4.0,2.0
4989475,201900058819,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,...,1.0,0.0,0,0.0,1993.0,1,0.0,0.0,4.0,2.0