In [10]:
import pandas as pd
import geopandas as gpd

Génération du df_accident

In [11]:
file =("../raw_data/accident de velo/accidentsVelo.csv")
data_accident = pd.read_csv(file, sep=",")

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/3803997784.py:2: DtypeWarning: Columns (8,9,20,21,30) have mixed types. Specify dtype option on import or set low_memory=False.
  data_accident = pd.read_csv(file, sep=",")

In [12]:
data_accident.head(
)

,Num_Acc,date,an,mois,jour,hrmn,dep,com,lat,long,...,secuexist,equipement,obs,obsm,choc,manv,vehiculeid,typevehicules,manoeuvehicules,numVehicules
0,200500000030,2005-01-13,2005,janvier,jeudi,19:45,62,62331,50.3,2.84,...,0,0,0.0,2.0,8.0,11.0,200500000030B02,18,17,1.0
1,200500000034,2005-01-19,2005,janvier,mercredi,10:45,62,62022,0.0,0.0,...,0,0,0.0,2.0,1.0,1.0,200500000034B02,10,15,1.0
2,200500000078,2005-01-26,2005,janvier,mercredi,13:15,02,02173,0.0,0.0,...,1,2,0.0,2.0,1.0,1.0,200500000078B02,7,15,1.0
3,200500000093,2005-01-03,2005,janvier,lundi,13:30,02,02810,49.255,3.094,...,0,0,0.0,2.0,3.0,21.0,200500000093B02,7,21,1.0
4,200500000170,2005-01-29,2005,janvier,samedi,18:30,76,76196,0.0,0.0,...,1,9,0.0,2.0,4.0,2.0,200500000170A01,10,2,1.0

Génération du data_piste

In [13]:
# data_piste = gpd.read_file("../raw_data/amenagement cyclable/france-20231201.geojson")

In [14]:
# data_piste.head()

Aggrégation des données pour 2022

In [15]:
data_accident.columns.values

array(['Num_Acc', 'date', 'an', 'mois', 'jour', 'hrmn', 'dep', 'com',
       'lat', 'long', 'agg', 'int', 'col', 'lum', 'atm', 'catr', 'circ',
       'nbv', 'prof', 'plan', 'lartpc', 'larrout', 'surf', 'infra',
       'situ', 'grav', 'sexe', 'age', 'trajet', 'secuexist', 'equipement',
       'obs', 'obsm', 'choc', 'manv', 'vehiculeid', 'typevehicules',
       'manoeuvehicules', 'numVehicules'], dtype=object)

In [16]:
#Récupération des csv qui nous intéressent

carac_22 = pd.read_csv("../raw_data/2022/carcteristiques-2022.csv", sep=";")
vehicules_22 = pd.read_csv("../raw_data/2022/vehicules-2022.csv", sep=";")
lieux_22 = pd.read_csv("../raw_data/lieux/lieux-2022.csv", sep=";")
usagers_22 = pd.read_csv("../raw_data/2022/usagers-2022.csv", sep=";")

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/747726333.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_22 = pd.read_csv("../raw_data/lieux/lieux-2022.csv", sep=";")

In [17]:
carac_22_agg = carac_22.drop('adr', axis=1, errors='ignore')

carac_22.columns.values

array(['Accident_Id', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com',
       'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long'], dtype=object)

In [18]:
vehicules_22.columns.values
vehicules_22['senc'].value_counts()

 1    42287
 2    32395
 3    13963
 0     5561
-1      287
Name: senc, dtype: int64

In [19]:
lieux_22.columns.values
lieux_22['vosp'].value_counts()

 0    48248
 1     2995
 3     2129
 2     1766
-1      164
Name: vosp, dtype: int64

In [20]:
lieux_22['vma'].value_counts()

 50     25452
 30      9066
 80      7616
 90      4494
 70      4093
 110     1922
 130     1118
-1        897
 20       157
 10       141
 60       111
 40        60
 25        35
 5         34
 15        29
 45        25
 1         15
 500        8
 6          6
 2          5
 300        5
 100        5
 35         3
 4          2
 3          2
 700        1
Name: vma, dtype: int64

In [21]:
usagers_22['an_nais'].value_counts().sort_index(ascending=False)

2022.0    198
2021.0    291
2020.0    279
2019.0    368
2018.0    397
         ...
1923.0      2
1922.0      3
1921.0      2
1920.0      1
1913.0      4
Name: an_nais, Length: 104, dtype: int64

In [22]:
usagers_22['an_nais'].value_counts()

2001.0    3742
2002.0    3708
2000.0    3698
2003.0    3383
1999.0    3382
          ...
1922.0       3
1921.0       2
1923.0       2
1920.0       1
1924.0       1
Name: an_nais, Length: 104, dtype: int64

In [23]:
usagers_22.columns.values

array(['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh', 'place', 'catu',
       'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3',
       'locp', 'actp', 'etatp'], dtype=object)

In [24]:
import os

In [30]:
df_test = pd.read_csv("../raw_data/lieux/lieux-2022.csv", sep=";")
df_test = df_test.applymap(lambda x: str(x).replace('"', ''))

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/3117627687.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv("../raw_data/lieux/lieux-2022.csv", sep=";")

In [38]:
df_test1 = pd.read_csv("../raw_data/lieux/lieux-2021.csv", sep=";")
df_test1 = df_test1.applymap(lambda x: str(x).replace('"', ''))

In [40]:
df_test1.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,3,981,-1,nan,2,2,0,1,(1),(1),1,nan,-1,1,0,1,80
1,202100000002,3,20,0,E,2,2,0,1,0,10,1,nan,-1,1,0,1,80
2,202100000003,4,GENERAL GALLIENI (BOULEVARD DU),0,nan,2,2,0,1,(1),(1),1,nan,-1,1,0,1,50
3,202100000004,3,GENERAL GALLIENI (BOULEVARD DU),0,nan,2,4,0,1,0,1,1,nan,-1,1,0,1,50
4,202100000005,7,PARIS. ROUTE DE,-1,nan,2,2,-1,1,11,150,1,nan,-1,1,0,1,50

In [32]:
df_test.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202200000001,4,TEIL(vieille route du),0,nan,2,2,0,1,(1),(1),1,nan,-1,1,0,1,50
1,202200000002,4,nan,0,nan,2,2,0,1,(1),(1),1,nan,-1,1,0,1,50
2,202200000003,3,ROND POINT DE BREZILLET,0,nan,-1,2,0,1,0,0,1,nan,-1,1,5,1,50
3,202200000004,4,QUATORZE JUILLET (RUE DU),0,nan,1,1,0,2,(1),(1),1,nan,4,1,0,1,30
4,202200000005,3,ROUTE DE JEAN MOULIN-RN 538,0,nan,2,2,0,1,8,0,1,nan,-1,1,0,1,80

In [41]:
df_test2 = pd.read_csv("../raw_data/lieux/lieux-2020.csv", sep=";")
df_test2 = df_test2.applymap(lambda x: str(x).replace('"', ''))

In [42]:
df_test2.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202000000001,4,HENRI BARBUSSE (AVENUE),0,nan,2,2,0,1,0,0,1,nan,-1,1,0,1,50
1,202000000002,4,MOUSSEAUX(CHEMIN),0,nan,2,2,0,1,0,100,3,nan,-1,1,0,1,50
2,202000000003,4,CARNOT(AVENUE),0,nan,-1,2,0,1,0,0,1,nan,-1,1,0,1,50
3,202000000004,4,VICTOR HUGO (AVENUE),0,nan,2,2,0,1,1,0,1,nan,-1,1,0,1,30
4,202000000005,3,35,0,nan,1,1,0,1,4,674,2,nan,-1,1,3,8,50

In [43]:
df_test3 = pd.read_csv("../raw_data/lieux/lieux-2019.csv", sep=";")
df_test3= df_test3.applymap(lambda x: str(x).replace('"', ''))

In [44]:
df_test3.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,201900000001,1,3,0.0,nan,3,10,0,1,6,900,2,nan,nan,1,2,1,70
1,201900000002,1,1,0.0,nan,1,2,0,4,3,845,2,nan,nan,1,0,1,70
2,201900000003,1,86,0.0,nan,3,8,0,1,10,500,3,nan,nan,1,0,1,90
3,201900000004,1,4,0.0,nan,3,5,0,1,2,299,1,nan,nan,1,0,1,90
4,201900000005,1,86,0.0,INT,1,3,0,1,41,0,3,nan,nan,1,2,1,90

In [45]:
df = pd.concat([df_test, df_test1, df_test2, df_test3])

In [46]:
df.describe()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
count,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404,218404
unique,218404,8,37236,8,45,5,16,5,5,632,1473,5,66,236,10,11,8,47
top,202200000001,4,nan,0,nan,2,2,0,1,0,0,1,nan,-1,1,0,1,50
freq,1,92236,23074,130695,201128,135784,133245,194379,175947,68855,75650,175371,217908,149480,176178,182470,182239,115319

['lieux_2016.csv',
 'lieux_2014.csv',
 'lieux_2015.csv',
 'lieux_2011.csv',
 'lieux_2005.csv',
 '.DS_Store',
 'lieux_2010.csv',
 'lieux_2006.csv',
 'lieux_2012.csv',
 'lieux_2013.csv',
 'lieux_2007.csv',
 'lieux-2021.csv',
 'lieux-2020.csv',
 'lieux-2022.csv',
 'lieux-2018.csv',
 'lieux-2019.csv',
 'lieux-2017.csv',
 'lieux_2009.csv',
 'lieux_2008.csv']

In [93]:
folder = "../raw_data/lieux/"
dff = []
files = [file for file in os.listdir(folder) if file.endswith('.csv')]
for file in files:
    file_path = os.path.join(folder, file)
    if file in ['lieux-2019.csv', 'lieux-2020.csv', 'lieux-2021.csv', 'lieux-2022.csv']:
        sep = ';'
    else: sep = ','
    df = pd.read_csv(file_path, sep=sep)
    # df = df.applymap(lambda x: str(x).replace('"', ''))
    dff.append(df)
    df_chiant = pd.concat(dff)

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/936926622.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=sep)
/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/936926622.py:9: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=sep)
/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/936926622.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=sep)
/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_3175/936926622.py:9: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=sep)

In [91]:
df_chiant.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,pr,pr1,vosp,prof,plan,lartpc,larrout,surf,infra,situ,env1,vma
0,201600000001,3.0,39,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,NaN
1,201600000002,3.0,39,NaN,NaN,1.0,0.0,NaN,NaN,0.0,1.0,2.0,0.0,58.0,1.0,0.0,1.0,0.0,NaN
2,201600000003,3.0,1,NaN,NaN,2.0,2.0,NaN,NaN,0.0,1.0,3.0,0.0,68.0,2.0,0.0,3.0,99.0,NaN
3,201600000004,4.0,0,NaN,NaN,2.0,0.0,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,99.0,NaN
4,201600000005,4.0,0,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,3.0,NaN

In [92]:
df_lieux_final =df_chiant[['Num_Acc','vosp','vma']]

Column: Num_Acc
201600000001    1
202000039254    1
202000039260    1
202000039259    1
202000039258    1
               ..
201000060358    1
201000060359    1
201000060360    1
201000060361    1
200800077569    1
Name: Num_Acc, Length: 1176873, dtype: int64

Column: vosp
 0.0    1090745
 3.0      34397
 1.0      29795
 2.0      17853
-1.0       1322
Name: vosp, dtype: int64

Column: vma
 50.0     115319
 80.0      31419
 30.0      23115
 70.0      15515
 90.0      15250
 110.0      7672
 130.0      4114
-1.0        3393
 60.0        653
 20.0        597
 10.0        480
 40.0        199
 15.0        123
 5.0         106
 25.0         86
 45.0         81
 1.0          67
 2.0          47
 500.0        41
 6.0          27
 100.0        27
 35.0         17
 3.0           9
 300.0         7
 900.0         4
 4.0           4
 700.0         4
 7.0           3
 65.0          3
 12.0          2
 55.0          2
 8.0           2
 75.0          2
 502.0         1
 770.0         1
 501.0         1
 140.0         1
 9.0           1
 901.0         1
 180.0         1
 520.0         1
 0.0           1
 120.0         1
 560.0         1
 800.0         1
 42.0          1
 600.0         1
Name: vma, dtype: int64

In [89]:
df_lieux_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1176873 entries, 0 to 76766
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   Num_Acc  1176873 non-null  int64
 1   vosp     1174112 non-null  float64
 2   vma      218404 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 35.9 MB