In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [2]:
# lieux_all = pd.read_csv("lieux.csv")
# vehicules_all = pd.read_csv("vehi.csv")
# usagers_all = pd.read_csv("usagers.csv")

In [3]:
lieux = pd.read_csv('../clean_data/lieux_clean.csv')
usagers = pd.read_csv('../clean_data/usagers_clean.csv')
vehicules = pd.read_csv('../clean_data/vehicules_clean.csv')

In [4]:
usagers.head()

        Num_Acc  grav  sexe  trajet  secu  locp  actp  etatp  an_nais num_veh
0  200600000001     4     1       5   1.0   0.0     0    0.0   1949.0     B01
1  200600000001     4     2       5   1.0   0.0     0    0.0   1948.0     B01
2  200600000001     1     2       5   1.0   0.0     0    0.0   1921.0     A01
3  200600000002     4     2       1   1.0   0.0     0    0.0   1972.0     A01
4  200600000002     4     2       2   1.0   0.0     0    0.0   1984.0     B01

In [5]:
usagers['aug'] = usagers['Num_Acc'].astype(str) + usagers['num_veh'].astype(str)
vehicules['aug'] = vehicules['Num_Acc'].astype(str) + vehicules['num_veh'].astype(str)

In [6]:
usagers_cleaned = usagers.drop_duplicates(subset='aug')

In [7]:

velo = vehicules[vehicules['catv']==1]

In [8]:
velo_df = pd.merge(velo, usagers, on='aug', how='inner')

In [9]:
velo_df.shape

(94003, 18)

In [10]:

velo_df['Num_Acc']=velo_df['Num_Acc_x']
velo_df.drop(['Num_Acc_x', 'Num_Acc_y'], axis=1, inplace=True)
velo_df = pd.merge(velo_df, lieux, on='Num_Acc', how='inner')

In [11]:
duplicates = velo_df[velo_df.duplicated(subset='Num_Acc', keep=False)]
duplicates

,catv,obs,obsm,choc,manv,num_veh_x,aug,grav,sexe,trajet,...,Num_Acc,catr,circ,nbv,vosp,prof,plan,surf,infra,situ
12,1,0.0,2.0,4.0,1.0,B01,201800000213B01,4,2,2,...,201800000213,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
13,1,0.0,9.0,4.0,1.0,C01,201800000213C01,4,1,2,...,201800000213,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
15,1,0.0,2.0,1.0,1.0,A01,201800000222A01,3,1,5,...,201800000222,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
16,1,0.0,0.0,4.0,2.0,B01,201800000222B01,1,1,5,...,201800000222,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
46,1,0.0,1.0,1.0,1.0,A01,201800000645A01,4,1,5,...,201800000645,4.0,2.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93981,1,0.0,2.0,1.0,9.0,B01,201500058311B01,4,1,9,...,201500058311,4.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
93995,1,0.0,9.0,1.0,2.0,A01,201500058584A01,4,1,5,...,201500058584,3.0,2.0,0.0,0.0,2.0,4.0,1.0,0.0,1.0
93996,1,0.0,9.0,4.0,1.0,B01,201500058584B01,4,1,5,...,201500058584,3.0,2.0,0.0,0.0,2.0,4.0,1.0,0.0,1.0
93999,1,0.0,1.0,1.0,2.0,A01,201500058626A01,1,1,9,...,201500058626,4.0,2.0,0.0,0.0,1.0,4.0,1.0,0.0,1.0
94000,1,0.0,1.0,1.0,2.0,A01,201500058626A01,4,1,9,...,201500058626,4.0,2.0,0.0,0.0,1.0,4.0,1.0,0.0,1.0