### Importing libraries

In [34]:
import pandas as pd
import plotly.express as px
import requests
import os

### Requesting API

In [35]:
root_url = 'https://www.data.gouv.fr/api/1/datasets/'
API_KEY = "eyJhbGciOiJIUzUxMiJ9.eyJ1c2VyIjoiNjU3ODJlYWJmMjNiMmM4ZmE2MjI0YTBlIiwidGltZSI6MTcwMjM3NTE2MC43MDYyNDY5fQ.pnworhTYvLW-TGb_eP7YdljvfMkPItj8SqSYmRRh2mmtKzZgdFEG8j5Bnbe3wekLuEFGSegNhZYN9MfWghT_dw"
DATASET = "53698f4ca3a729239d2036df"
HEADERS = {
    'X-API-KEY': API_KEY,
}

In [36]:
def api_url(path):
    return ''.join(root_url, path)

In [37]:
res = requests.get(root_url + DATASET).json()

res['title']

'Bases de données annuelles des accidents corporels de la circulation routière - Années de 2005 à 2022'

In [38]:
res["resources"][0]["title"]

'usagers-2022.csv'

In [39]:
{resource["title"]:resource["latest"] for resource in res['resources'] if resource["title"]}

{'usagers-2022.csv': 'https://www.data.gouv.fr/fr/datasets/r/62c20524-d442-46f5-bfd8-982c59763ec8',
 'vehicules-2022.csv': 'https://www.data.gouv.fr/fr/datasets/r/c9742921-4427-41e5-81bc-f13af8bc31a0',
 'lieux-2022.csv': 'https://www.data.gouv.fr/fr/datasets/r/a6ef711a-1f03-44cb-921a-0ce8ec975995',
 'carcteristiques-2022.csv': 'https://www.data.gouv.fr/fr/datasets/r/5fc299c0-4598-4c29-b74c-6a67b0cc27e7',
 'description-des-bases-de-donnees-annuelles-2022.pdf': 'https://www.data.gouv.fr/fr/datasets/r/8ef4c2a3-91a0-4d98-ae3a-989bde87b62a',
 'usagers-2021.csv': 'https://www.data.gouv.fr/fr/datasets/r/ba5a1956-7e82-41b7-a602-89d7dd484d7a',
 'vehicules-2021.csv': 'https://www.data.gouv.fr/fr/datasets/r/0bb5953a-25d8-46f8-8c25-b5c2f5ba905e',
 'lieux-2021.csv': 'https://www.data.gouv.fr/fr/datasets/r/8a4935aa-38cd-43af-bf10-0209d6d17434',
 'carcteristiques-2021.csv': 'https://www.data.gouv.fr/fr/datasets/r/85cfdc0c-23e4-4674-9bcd-79a970d7269b',
 'description-de-la-liste-des-vehicules-immatricules-impliques-dans-les-accidents-corporels.pdf': 'https://www.data.gouv.fr/fr/datasets/r/49d6533c-a789-49bc-967e-f7f3d74dda93',
 'vehicules-immatricules-baac-2021.csv': 'https://www.data.gouv.fr/fr/datasets/r/c4c7f24a-425f-48fe-b589-5e59f6658ef0',
 'vehicules-immatricules-baac-2020.csv': 'https://www.data.gouv.fr/fr/datasets/r/eddac81d-e6bc-4d02-a864-7b4ab29ed8db',
 'vehicules-immatricules-baac-2019.csv': 'https://www.data.gouv.fr/fr/datasets/r/4e729f76-c04b-4388-be67-4762f5c05b55',
 'vehicules-immatricules-baac-2018.csv': 'https://www.data.gouv.fr/fr/datasets/r/5ec2789d-585a-4a4a-9efd-c47f6f085b64',
 'vehicules-immatricules-baac-2017.csv': 'https://www.data.gouv.fr/fr/datasets/r/77b51b6f-29a9-4e1c-9af1-d237bba1669d',
 'vehicules-immatricules-baac-2016.csv': 'https://www.data.gouv.fr/fr/datasets/r/3db6be71-3a13-4d27-a73b-df4f79e36d5e',
 'vehicules-immatricules-baac-2015.csv': 'https://www.data.gouv.fr/fr/datasets/r/582c756a-b6d9-4d57-aef6-52e867eaceb9',
 'vehicules-immatricules-baac-2014.csv': 'https://www.data.gouv.fr/fr/datasets/r/b3cde8f6-179e-4224-bbf0-b325e218d06a',
 'vehicules-immatricules-baac-2013.csv': 'https://www.data.gouv.fr/fr/datasets/r/f080122f-60ce-4e6f-a653-aedfc12b5ec8',
 'vehicules-immatricules-baac-2012.csv': 'https://www.data.gouv.fr/fr/datasets/r/2e173b32-739b-444b-ac79-a2f90442aa6d',
 'vehicules-immatricules-baac-2011.csv': 'https://www.data.gouv.fr/fr/datasets/r/21940bb7-bfa7-492b-b1c4-40973672d8f3',
 'vehicules-immatricules-baac-2010.csv': 'https://www.data.gouv.fr/fr/datasets/r/a050f3ab-5d2a-4ea4-8687-090c03b7cb09',
 'vehicules-immatricules-baac-2009.csv': 'https://www.data.gouv.fr/fr/datasets/r/2a2169b9-909a-4c4c-9b0c-65dcbcba820f',
 'description-des-bases-de-donnees-onisr-annees-2005-a-2020.pdf': 'https://www.data.gouv.fr/fr/datasets/r/21e46f4e-fa29-40bb-9ec8-905e41e041aa',
 'usagers-2020.csv': 'https://www.data.gouv.fr/fr/datasets/r/78c45763-d170-4d51-a881-e3147802d7ee',
 'vehicules-2020.csv': 'https://www.data.gouv.fr/fr/datasets/r/a66be22f-c346-49af-b196-71df24702250',
 'lieux-2020.csv': 'https://www.data.gouv.fr/fr/datasets/r/e85c41f7-d4ea-4faf-877f-ab69a620ce21',
 'caracteristiques-2020.csv': 'https://www.data.gouv.fr/fr/datasets/r/07a88205-83c1-4123-a993-cba5331e8ae0',
 'usagers-2019.csv': 'https://www.data.gouv.fr/fr/datasets/r/36b1b7b3-84b4-4901-9163-59ae8a9e3028',
 'vehicules-2019.csv': 'https://www.data.gouv.fr/fr/datasets/r/780cd335-5048-4bd6-a841-105b44eb2667',
 'lieux-2019.csv': 'https://www.data.gouv.fr/fr/datasets/r/2ad65965-36a1-4452-9c08-61a6c874e3e6',
 'caracteristiques-2019.csv': 'https://www.data.gouv.fr/fr/datasets/r/e22ba475-45a3-46ac-a0f7-9ca9ed1e283a',
 'description-des-bases-de-donnees-onisr-annees-2005-a-2018.pdf': 'https://www.data.gouv.fr/fr/datasets/r/8d4df329-bbbb-434c-9f1f-596d78ad529f',
 'usagers-2018.csv': 'https://www.data.gouv.fr/fr/datasets/r/72b251e1-d5e1-4c46-a1c2-c65f1b26549a',
 'vehicules-2018.csv': 'https://www.data.gouv.fr/fr/datasets/r/b4aaeede-1a80-4d76-8f97-543dad479167',
 'lieux-2018.csv': 'https://www.data.gouv.fr/fr/datasets/r/d9d65ca1-16a3-4ea3-b7c8-2412c92b69d9',
 'caracteristiques-2018.csv': 'https://www.data.gouv.fr/fr/datasets/r/6eee0852-cbd7-447e-bd70-37c433029405',
 'usagers-2017.csv': 'https://www.data.gouv.fr/fr/datasets/r/07bfe612-0ad9-48ef-92d3-f5466f8465fe',
 'vehicules-2017.csv': 'https://www.data.gouv.fr/fr/datasets/r/d6103d0c-6db5-466f-b724-91cbea521533',
 'lieux-2017.csv': 'https://www.data.gouv.fr/fr/datasets/r/9b76a7b6-3eef-4864-b2da-1834417e305c',
 'caracteristiques-2017.csv': 'https://www.data.gouv.fr/fr/datasets/r/9a7d408b-dd72-4959-ae7d-c854ec505354',
 'usagers_2016.csv': 'https://www.data.gouv.fr/fr/datasets/r/e4c6f4fe-7c68-4a1d-9bb6-b0f1f5d45526',
 'vehicules_2016.csv': 'https://www.data.gouv.fr/fr/datasets/r/be2191a6-a7cd-446f-a9fc-8d698688eb9e',
 'lieux_2016.csv': 'https://www.data.gouv.fr/fr/datasets/r/08b77510-39c4-4761-bf02-19457264790f',
 'caracteristiques_2016.csv': 'https://www.data.gouv.fr/fr/datasets/r/96aadc9f-0b55-4e9a-a70e-c627ed97e6f7',
 'usagers_2015.csv': 'https://www.data.gouv.fr/fr/datasets/r/b43a4237-9359-4217-b833-8d3dc29a6c24',
 'vehicules_2015.csv': 'https://www.data.gouv.fr/fr/datasets/r/3420157e-7d23-4832-a710-a3a2f2df909c',
 'lieux_2015.csv': 'https://www.data.gouv.fr/fr/datasets/r/31db21ef-4328-4c5e-bf3d-66a8fe82e6a2',
 'caracteristiques_2015.csv': 'https://www.data.gouv.fr/fr/datasets/r/185fbdc7-d4c5-4522-888e-ac9550718f71',
 'usagers_2014.csv': 'https://www.data.gouv.fr/fr/datasets/r/457c10ff-ea6c-4238-9af1-d8dc62b896d4',
 'vehicules_2014.csv': 'https://www.data.gouv.fr/fr/datasets/r/86c64436-427f-4042-a4ee-ed0aa31bac76',
 'lieux_2014.csv': 'https://www.data.gouv.fr/fr/datasets/r/617af155-1b7c-41d6-9504-576878c4d9af',
 'caracteristiques_2014.csv': 'https://www.data.gouv.fr/fr/datasets/r/85dfe8c6-589f-4e76-8a07-9f59e49ec10d',
 'usagers_2013.csv': 'https://www.data.gouv.fr/fr/datasets/r/af4349c5-0293-4639-8694-b8b628bfc6c3',
 'vehicules_2013.csv': 'https://www.data.gouv.fr/fr/datasets/r/3c059a3c-4624-4513-b3a4-2b18c48dfd47',
 'lieux_2013.csv': 'https://www.data.gouv.fr/fr/datasets/r/1e00e4dd-e204-4a08-9e10-9b8a02791ba9',
 'caracteristiques_2013.csv': 'https://www.data.gouv.fr/fr/datasets/r/18b1a57a-57bf-4bf1-b9ee-dfa5a3154225',
 'usagers_2012.csv': 'https://www.data.gouv.fr/fr/datasets/r/a19e060e-1c18-4272-ac4e-d4745ab8fade',
 'vehicules_2012.csv': 'https://www.data.gouv.fr/fr/datasets/r/48683290-0d4d-429a-8fb6-977887098d5d',
 'lieux_2012.csv': 'https://www.data.gouv.fr/fr/datasets/r/59cc1244-2397-430a-8afb-6a0a071ff4d2',
 'caracteristiques_2012.csv': 'https://www.data.gouv.fr/fr/datasets/r/b2518ec1-6529-47bc-9d55-40e2effeb0e7',
 'usagers_2011.csv': 'https://www.data.gouv.fr/fr/datasets/r/bd946492-31b3-428e-8494-a1e203bdc9cc',
 'vehicules_2011.csv': 'https://www.data.gouv.fr/fr/datasets/r/569e3f44-ff4c-4a25-bb45-f4a3646b392d',
 'lieux_2011.csv': 'https://www.data.gouv.fr/fr/datasets/r/26d37f6b-3603-42b0-a779-bbeaa19af4a6',
 'caracteristiques_2011.csv': 'https://www.data.gouv.fr/fr/datasets/r/37991267-8a15-4a9d-9b1c-ff3e6bea3625',
 'usagers_2010.csv': 'https://www.data.gouv.fr/fr/datasets/r/c5e5664d-1483-41da-a4c6-5f1727d7a353',
 'vehicules_2010.csv': 'https://www.data.gouv.fr/fr/datasets/r/4dd8a9ea-785f-4e3f-8f83-3838a60ac7f5',
 'lieux_2010.csv': 'https://www.data.gouv.fr/fr/datasets/r/86577e9c-56ab-4673-95cb-3351e804fc03',
 'caracteristiques_2010.csv': 'https://www.data.gouv.fr/fr/datasets/r/decdfe8c-38ff-4a06-b7fc-615785f2914d',
 'usagers_2009.csv': 'https://www.data.gouv.fr/fr/datasets/r/2387db3d-11ee-4df4-aa31-4c3c748244d4',
 'vehicules_2009.csv': 'https://www.data.gouv.fr/fr/datasets/r/787ba26e-2588-47aa-b73d-346f120f9c59',
 'lieux_2009.csv': 'https://www.data.gouv.fr/fr/datasets/r/0a25081b-89b6-4f7c-9d31-72ec679f0abf',
 'caracteristiques_2009.csv': 'https://www.data.gouv.fr/fr/datasets/r/fdfacdb9-f48e-4759-bae5-48d063216acb',
 'usagers_2008.csv': 'https://www.data.gouv.fr/fr/datasets/r/433e26cf-d4c8-4dd9-b3f2-ecbc8a8f0509',
 'vehicules_2008.csv': 'https://www.data.gouv.fr/fr/datasets/r/6d9e4024-8207-4020-ae4c-5b83504e7268',
 'lieux_2008.csv': 'https://www.data.gouv.fr/fr/datasets/r/237a4d23-1b66-43fb-8832-2f89fbbc6beb',
 'caracteristiques_2008.csv': 'https://www.data.gouv.fr/fr/datasets/r/722ebb99-c8b2-4635-bf8d-125dd280ee42',
 'usagers_2007.csv': 'https://www.data.gouv.fr/fr/datasets/r/c5c30fc2-9bfd-4bcd-b45b-f01a31f1d087',
 'vehicules_2007.csv': 'https://www.data.gouv.fr/fr/datasets/r/6e905a7a-c48d-4f5c-a0bb-54b83c8dfe5f',
 'lieux_2007.csv': 'https://www.data.gouv.fr/fr/datasets/r/1d967969-c3d2-45c6-adc7-b3b72a8c6e89',
 'caracteristiques_2007.csv': 'https://www.data.gouv.fr/fr/datasets/r/6fc7b169-4dfe-442c-8c28-8bd773aeddf8',
 'usagers_2006.csv': 'https://www.data.gouv.fr/fr/datasets/r/ebb4c37e-1616-497d-b5ed-f8113bed2ae7',
 'vehicules_2006.csv': 'https://www.data.gouv.fr/fr/datasets/r/c3362179-9c39-4056-9503-ce00ea6b810e',
 'lieux_2006.csv': 'https://www.data.gouv.fr/fr/datasets/r/28b1fbdc-f984-40d8-8614-236ee26adc7c',
 'caracteristiques_2006.csv': 'https://www.data.gouv.fr/fr/datasets/r/fafa33cf-50cb-4092-a819-d5209f684089',
 'usagers_2005.csv': 'https://www.data.gouv.fr/fr/datasets/r/cecdbd46-11f2-41fa-b0bd-e6e223de6b3c',
 'vehicules_2005.csv': 'https://www.data.gouv.fr/fr/datasets/r/924b962b-4400-4468-9f7d-0bdba28f51e9',
 'lieux_2005.csv': 'https://www.data.gouv.fr/fr/datasets/r/3a3488e0-86a1-4917-b082-f3bdc25f6922',
 'caracteristiques_2005.csv': 'https://www.data.gouv.fr/fr/datasets/r/a47866f7-ece1-4de8-8d31-3a1b4f477e08',
 'Description de la base de données agrégée "accidents de la circulation" sur 6 années de 2006 à 2011': 'https://www.data.gouv.fr/fr/datasets/r/cd8a4150-ea45-4de0-b5b9-841b9aa8c7d7',
 'Base de données agrégée des accidents corporels de la circulation sur 6 années de 2006 à 2011': 'https://www.data.gouv.fr/fr/datasets/r/5b3e137d-b54b-4b10-bb9a-6ec52410d772',
 'Base de données agrégée des véhicules impliqués de 2006 à 2011': 'https://www.data.gouv.fr/fr/datasets/r/cdaac65c-54f4-4cf1-a9e7-ef48ee069227',
 'Descriptif des variables pour le fichier des accidents, données agrégées de 2005 à 2010': 'https://www.data.gouv.fr/fr/datasets/r/36496bab-a042-47bf-b08b-3c7467f2bddf',
 'Base de données agrégée des accidents corporels de la circulation de 2005 à 2010 pour France Métropolitaine': 'https://www.data.gouv.fr/fr/datasets/r/8f265278-cd03-4aa4-9f71-86b60d923c06',
 'Base de données agrégée des accidents corporels de la circulation de 2005 à 2010 pour les DOM': 'https://www.data.gouv.fr/fr/datasets/r/706198f2-18a0-4663-9eb4-8011cb74b8c7'}

### Get datasets DL urls

In [40]:
def get_datasets_url(url='https://www.data.gouv.fr/api/1/datasets/53698f4ca3a729239d2036df/'):
    r = requests.get(url).json()
    return {el['title']: el['latest'] for el in r['resources'] if el['title'].endswith(".csv") and not el['title'].startswith("vehicules-immatricules") }

lieux_datasets = {i:j for i,j in get_datasets_url().items() if i.startswith("lieux")}
usagers_datasets = {i:j for i,j in get_datasets_url().items() if i.startswith("usagers")}
car_datasets = {i:j for i,j in get_datasets_url().items() if i.startswith("car")}
vehicule_datasets = {i:j for i,j in get_datasets_url().items() if i.startswith("vehicule")}

all_urls = [lieux_datasets, usagers_datasets, car_datasets,vehicule_datasets]

### Downloading csv's if not already

In [41]:
for url_dict in all_urls:
    for path, url in url_dict.items():
        path = '../raw_data/' + path
        if not os.path.exists(path):
            response = requests.get(url)
            if response.status_code == 200:
                with open(path, 'wb') as f:
                    f.write(response.content)

In [32]:
folder = "../raw_data/"
os.listdir(folder)

['lieux-2022.csv',
 'caracteristiques_2013.csv',
 'caracteristiques_2009.csv',
 'lieux_2013.csv',
 'vehicules_2005.csv',
 'vehicules_2012.csv',
 'vehicules_2013.csv',
 'usagers_2010.csv',
 'lieux_2010.csv',
 'carcteristiques-2022.csv',
 'caracteristiques_2006.csv',
 'carcteristiques-2021.csv',
 'usagers-2021.csv',
 'lieux-2021.csv',
 'usagers_2016.csv',
 'vehicules-2019.csv',
 'caracteristiques_2016.csv',
 'vehicules-2018.csv',
 'caracteristiques_2011.csv',
 'lieux-2018.csv',
 'usagers_2012.csv',
 'caracteristiques-2017.csv',
 'caracteristiques-2020.csv',
 'vehicules-2017.csv',
 'vehicules-2021.csv',
 'usagers-2019.csv',
 'caracteristiques_2007.csv',
 'caracteristiques_2012.csv',
 'caracteristiques-2018.csv',
 'usagers_2015.csv',
 'vehicules_2014.csv',
 'vehicules-2020.csv',
 'lieux-2019.csv',
 'lieux_2006.csv',
 'usagers_2011.csv',
 'vehicules-2022.csv',
 'usagers-2020.csv',
 'caracteristiques_2005.csv',
 'usagers-2018.csv',
 'usagers-2017.csv',
 'vehicules_2006.csv',
 'vehicules_2015.csv',
 'vehicules_2009.csv',
 'caracteristiques_2014.csv',
 'vehicules_2010.csv',
 'lieux_2015.csv',
 'vehicules_2016.csv',
 'usagers_2006.csv',
 'lieux_2012.csv',
 'lieux_2009.csv',
 'usagers_2014.csv',
 'lieux_2007.csv',
 'caracteristiques-2019.csv',
 'vehicules_2008.csv',
 'caracteristiques_2010.csv',
 'lieux_2014.csv',
 'vehicules_2011.csv',
 'lieux-2017.csv',
 'usagers_2008.csv',
 'vehicules_2007.csv',
 'lieux_2008.csv',
 'usagers_2007.csv',
 'lieux_2016.csv',
 'usagers_2009.csv',
 'lieux_2011.csv',
 'usagers-2022.csv',
 'lieux_2005.csv',
 'lieux-2020.csv',
 'usagers_2005.csv',
 'usagers_2013.csv',
 'caracteristiques_2015.csv',
 'caracteristiques_2008.csv']

### Detect separator & read csv

In [33]:
def detect_separator(file_path):
    with open(file_path, 'r') as file:
        first_line = file.readline()
        if ';' in first_line:
            return ';'
        elif '|' in first_line:
            return '|'
        else:
            return ','

folder = "../raw_data/"
dff = []
files = [file for file in os.listdir(folder)]

for file in files:
    file_path = os.path.join(folder, file)
    sep = detect_separator(file_path)
    df = pd.read_csv(file_path, sep=sep)
    dff.append(df)

df_final = pd.concat(dff)

/tmp/ipykernel_26096/454420877.py:18: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep=sep)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 440: invalid continuation byte

In [14]:
df_final

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma,env1
0,202200000001,4.0,TEIL(vieille route du),0.0,NaN,2.0,2,0.0,1.0,(1),(1),1.0,NaN,-1,1.0,0.0,1.0,50.0,NaN
1,202200000002,4.0,NaN,0.0,NaN,2.0,2,0.0,1.0,(1),(1),1.0,NaN,-1,1.0,0.0,1.0,50.0,NaN
2,202200000003,3.0,ROND POINT DE BREZILLET,0.0,NaN,-1.0,2,0.0,1.0,0,0,1.0,NaN,-1,1.0,5.0,1.0,50.0,NaN
3,202200000004,4.0,QUATORZE JUILLET (RUE DU),0.0,NaN,1.0,1,0.0,2.0,(1),(1),1.0,NaN,4,1.0,0.0,1.0,30.0,NaN
4,202200000005,3.0,ROUTE DE JEAN MOULIN-RN 538,0.0,NaN,2.0,2,0.0,1.0,8,0,1.0,NaN,-1,1.0,0.0,1.0,80.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47739,202000047740,3.0,141,0.0,NaN,1.0,1,0.0,1.0,0,0,1.0,NaN,-1,1.0,0.0,1.0,50.0,NaN
47740,202000047741,3.0,CASTAGNINS (ROUTE DES),0.0,NaN,4.0,2,0.0,2.0,1,530,1.0,NaN,-1,1.0,0.0,1.0,30.0,NaN
47741,202000047742,3.0,MADELEINE,0.0,NaN,2.0,2,0.0,2.0,0,0,3.0,NaN,-1,1.0,0.0,1.0,50.0,NaN
47742,202000047743,3.0,900,0.0,B,2.0,2,0.0,1.0,0,650,1.0,NaN,-1,1.0,0.0,1.0,50.0,NaN
47743,202000047744,4.0,JEAN MACE ( RUE ),0.0,NaN,-1.0,2,0.0,2.0,0,1,1.0,NaN,-1,1.0,0.0,1.0,30.0,NaN

### Loading data

In [76]:
## accidents 2005 - 2021
data = pd.read_csv("../raw_data/Accidents/accidentsVelo.csv")

# data 2022
carac_2022 = pd.read_csv('/home/axl/CyclingFacilities/raw_data/Accidents/carcteristiques-2022.csv', sep=";")
lieux_2022 = pd.read_csv('/home/axl/CyclingFacilities/raw_data/Accidents/lieux-2022.csv', sep=";")
usagers_2022 = pd.read_csv('/home/axl/CyclingFacilities/raw_data/Accidents/lieux-2022.csv', sep=";")
vehicule_2022 = pd.read_csv('/home/axl/CyclingFacilities/raw_data/Accidents/vehicules-2022.csv', sep=";")

all_2022 = carac_2022.merge(lieux_2022, left_on="Accident_Id", right_on="Num_Acc").merge(vehicule_2022, left_on="Accident_Id", right_on="Num_Acc").merge(usagers_2022, left_on="Accident_Id", right_on="Num_Acc")

/tmp/ipykernel_8462/2902902988.py:2: DtypeWarning:

Columns (8,9,20,21,30) have mixed types. Specify dtype option on import or set low_memory=False.

/tmp/ipykernel_8462/2902902988.py:6: DtypeWarning:

Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

/tmp/ipykernel_8462/2902902988.py:7: DtypeWarning:

Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.

In [82]:
data

,Num_Acc,date,an,mois,jour,hrmn,dep,com,lat,long,...,secuexist,equipement,obs,obsm,choc,manv,vehiculeid,typevehicules,manoeuvehicules,numVehicules
0,200500000030,2005-01-13,2005,janvier,jeudi,19:45,62,62331,50.3,2.84,...,0,0,0.0,2.0,8.0,11.0,200500000030B02,18,17,1.0
1,200500000034,2005-01-19,2005,janvier,mercredi,10:45,62,62022,0.0,0.0,...,0,0,0.0,2.0,1.0,1.0,200500000034B02,10,15,1.0
2,200500000078,2005-01-26,2005,janvier,mercredi,13:15,02,02173,0.0,0.0,...,1,2,0.0,2.0,1.0,1.0,200500000078B02,7,15,1.0
3,200500000093,2005-01-03,2005,janvier,lundi,13:30,02,02810,49.255,3.094,...,0,0,0.0,2.0,3.0,21.0,200500000093B02,7,21,1.0
4,200500000170,2005-01-29,2005,janvier,samedi,18:30,76,76196,0.0,0.0,...,1,9,0.0,2.0,4.0,2.0,200500000170A01,10,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74753,202100056317,2021-01-02,2021,janvier,samedi,18:30,44,44168,"47,3777890000","-2,1976410000",...,2,NaN,0.0,0.0,8.0,1.0,202100056317B01,7,14,1.0
74754,202100056362,2021-01-04,2021,janvier,lundi,08:20,64,64138,"43,2309460000","-0,2765840000",...,1,2,0.0,2.0,0.0,1.0,202100056362B01,7,15,1.0
74755,202100056404,2021-01-01,2021,janvier,vendredi,16:55,54,54395,"48,6849869839","6,1760189384",...,1,2,0.0,2.0,1.0,25.0,202100056404A01,7,1,1.0
74756,202100056424,2021-01-02,2021,janvier,samedi,15:40,75,75110,"48,8769050000","2,3665940000",...,2,NaN,0.0,2.0,1.0,1.0,202100056424A01,7,9,1.0
74757,202100056508,2021-01-01,2021,janvier,vendredi,12:20,64,64400,"43,1465730000","-0,1955440000",...,1,2/6,0.0,0.0,8.0,1.0,202100056508A01,NaN,NaN,NaN

In [93]:
all_bikes_2022 = all_2022[all_2022.catv == 1]

In [97]:
all_bikes_2022.merge(data, left_on="Accident_Id", right_on="Num_Acc")

/tmp/ipykernel_8462/3338634255.py:1: FutureWarning:

Passing 'suffixes' which cause duplicate columns {'Num_Acc_x'} in the result is deprecated and will raise a MergeError in a future version.

Empty DataFrame
Columns: [Accident_Id, jour_x, mois_x, an_x, hrmn_x, lum_x, dep_x, com_x, agg_x, int_x, atm_x, col_x, adr, lat_x, long_x, Num_Acc_x, catr_x, voie_x, v1_x, v2_x, circ_x, nbv_x, vosp_x, prof_x, pr_x, pr1_x, plan_x, lartpc_x, larrout_x, surf_x, infra_x, situ_x, vma_x, Num_Acc_y, id_vehicule, num_veh, senc, catv, obs_x, obsm_x, choc_x, manv_x, motor, occutc, Num_Acc_x, catr_y, voie_y, v1_y, v2_y, circ_y, nbv_y, vosp_y, prof_y, pr_y, pr1_y, plan_y, lartpc_y, larrout_y, surf_y, infra_y, situ_y, vma_y, Num_Acc_y, date, an_y, mois_y, jour_y, hrmn_y, dep_y, com_y, lat_y, long_y, agg_y, int_y, col_y, lum_y, atm_y, catr, circ, nbv, prof, plan, lartpc, larrout, surf, infra, situ, grav, sexe, age, trajet, secuexist, equipement, obs_y, obsm_y, choc_y, manv_y, vehiculeid, typevehicules, manoeuvehicules, ...]
Index: []

[0 rows x 101 columns]

In [95]:
#all_bikes_2022.merge(data, how='outer', left_on="Accident_Id", right_on="Num_Acc")

/tmp/ipykernel_8462/2098982804.py:1: FutureWarning:

Passing 'suffixes' which cause duplicate columns {'Num_Acc_x'} in the result is deprecated and will raise a MergeError in a future version.

,Accident_Id,jour_x,mois_x,an_x,hrmn_x,lum_x,dep_x,com_x,agg_x,int_x,...,secuexist,equipement,obs_y,obsm_y,choc_y,manv_y,vehiculeid,typevehicules,manoeuvehicules,numVehicules
0,2.022000e+11,21.0,10.0,2022.0,16:32,1.0,75,75106,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.022000e+11,20.0,10.0,2022.0,13:00,1.0,75,75105,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.022000e+11,21.0,10.0,2022.0,11:25,1.0,75,75113,2.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.022000e+11,21.0,10.0,2022.0,15:50,1.0,75,75103,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.022000e+11,21.0,10.0,2022.0,19:40,5.0,93,93049,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,0.0,0.0,8.0,1.0,202100056317B01,7,14,1.0
80074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2,0.0,2.0,0.0,1.0,202100056362B01,7,15,1.0
80075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2,0.0,2.0,1.0,25.0,202100056404A01,7,1,1.0
80076,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,0.0,2.0,1.0,1.0,202100056424A01,7,9,1.0
80077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2/6,0.0,0.0,8.0,1.0,202100056508A01,NaN,NaN,NaN

In [49]:
data = data.query('lat != 0 & long != 0').reset_index(drop=True)
data.dep.nunique()

113

In [ ]:
data

In [48]:
paris_df = data[data.dep == "75"]
mars_df = data[data.dep == "13"]

array(['13'], dtype=object)

In [45]:
paris_df

,Num_Acc,date,an,mois,jour,hrmn,dep,com,lat,long,...,secuexist,equipement,obs,obsm,choc,manv,vehiculeid,typevehicules,manoeuvehicules,numVehicules
3913,201000062968,2010-10-03,2010,octobre,dimanche,18:45,75,75112,48.83464,2.43893,...,1,2,0.0,0.0,5.0,17.0,201000062968A01,1,1,1.0
3914,201000062968,2010-10-03,2010,octobre,dimanche,18:45,75,75112,48.83464,2.43893,...,1,2,0.0,0.0,3.0,1.0,201000062968B01,1,17,1.0
12273,201500050797,2015-06-23,2015,juin,mardi,18:30,75,75103,48.52011,2.21485,...,1,2,0.0,1.0,1.0,3.0,201500050797A01,NaN,NaN,NaN
12274,201500052215,2015-08-13,2015,août,jeudi,20:30,75,75110,48.52501,2.21432,...,1,2,0.0,2.0,0.0,1.0,201500052215A01,31,1,1.0
12275,201500055885,2015-06-27,2015,juin,samedi,14:20,75,75118,48.53181,2.2107,...,1,2,0.0,0.0,7.0,18.0,201500055885B01,7,22,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31614,202100056069,2021-01-06,2021,janvier,mercredi,16:15,75,75112,"48,8446739656","2,4057128628",...,2,NaN,0.0,2.0,8.0,1.0,202100056069B01,7,14,1.0
31616,202100056184,2021-01-04,2021,janvier,lundi,17:35,75,75103,"48,8623960000","2,3555220000",...,1,2,0.0,0.0,1.0,21.0,202100056184A01,NaN,NaN,NaN
31618,202100056276,2021-01-04,2021,janvier,lundi,18:25,75,75119,"48,8816830000","2,3810550000",...,1,2/6,0.0,2.0,3.0,1.0,202100056276B01,7,17,1.0
31619,202100056283,2021-01-04,2021,janvier,lundi,19:40,75,75101,"48,8649640000","2,3347680000",...,2,NaN,0.0,1.0,1.0,1.0,202100056283A01,NaN,NaN,NaN
31626,202100056424,2021-01-02,2021,janvier,samedi,15:40,75,75110,"48,8769050000","2,3665940000",...,2,NaN,0.0,2.0,1.0,1.0,202100056424A01,7,9,1.0

In [42]:
mars_df.columns

Index(['Num_Acc', 'date', 'an', 'mois', 'jour', 'hrmn', 'dep', 'com', 'lat',
       'long', 'agg', 'int', 'col', 'lum', 'atm', 'catr', 'circ', 'nbv',
       'prof', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ', 'grav',
       'sexe', 'age', 'trajet', 'secuexist', 'equipement', 'obs', 'obsm',
       'choc', 'manv', 'vehiculeid', 'typevehicules', 'manoeuvehicules',
       'numVehicules'],
      dtype='object')

,Num_Acc,date,an,mois,jour,hrmn,dep,com,lat,long,...,secuexist,equipement,obs,obsm,choc,manv,vehiculeid,typevehicules,manoeuvehicules,numVehicules
209,200500026234,2005-05-05,2005,mai,jeudi,14:15,13,13110,43.449,5.689,...,0,0,0.0,2.0,1.0,5.0,200500026234B02,7,1,1.0
226,200500026972,2005-05-12,2005,mai,jeudi,12:15,13,13113,43.6,5.48,...,1,2,0.0,2.0,1.0,1.0,200500026972B02,7,15,1.0
227,200500027020,2005-05-11,2005,mai,mercredi,14:15,13,13083,43.916,4.808,...,1,2,0.0,2.0,1.0,1.0,200500027020A01,7,1,1.0
294,200500039391,2005-06-01,2005,juin,mercredi,19:30,13,13019,43.445,5.362,...,0,0,0.0,2.0,1.0,1.0,200500039391B02,7,16,1.0
295,200500039402,2005-06-24,2005,juin,vendredi,16:15,13,13027,43.896,4.832,...,1,4,0.0,2.0,8.0,13.0,200500039402A01,15,17,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30867,202100042976,2021-04-24,2021,avril,samedi,07:45,13,13032,"43,5779040000","5,3365450000",...,1,2,0.0,2.0,1.0,1.0,202100042976B01,7,17,1.0
30868,202100042976,2021-04-24,2021,avril,samedi,07:45,13,13032,"43,5779040000","5,3365450000",...,1,2,0.0,2.0,0.0,1.0,202100042976C01,7,17,1.0
31033,202100045502,2021-04-02,2021,avril,vendredi,12:25,13,13015,"43,4573580000","5,4130790000",...,1,2,0.0,2.0,1.0,1.0,202100045502B01,7,15,1.0
31228,202100048088,2021-03-15,2021,mars,lundi,08:50,13,13100,"43,7922950000","4,8394720000",...,2,NaN,0.0,0.0,4.0,19.0,202100048088B01,7,1,1.0
31275,202100048899,2021-03-07,2021,mars,dimanche,16:00,13,13011,"43,7347820000","4,8211690000",...,2,NaN,0.0,2.0,1.0,1.0,202100048899B01,7,15,1.0

In [41]:
fig = px.scatter_mapbox(
    mars_df,
    lat='lat',
    lon='long',
    height=600,
    zoom=12,
    color=mars_df['grav'],
    mapbox_style="carto-positron",
)

fig.update_layout(
    margin={"r":10,"t":10,"l":10,"b":10}  # Marges droite, haut, gauche, bas à 0
)

fig.show()

TypeError: unsupported operand type(s) for +: 'float' and 'str'