In [8]:
import pandas as pd
import geopandas as gpd

Génération du df_accident

In [19]:
file =("../raw_data/accident de velo/accidentsVelo.csv")
data_accident = pd.read_csv(file, sep=",")

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_11495/3803997784.py:2: DtypeWarning: Columns (8,9,20,21,30) have mixed types. Specify dtype option on import or set low_memory=False.
  data_accident = pd.read_csv(file, sep=",")

In [5]:
data_accident.head(
)

,Num_Acc,date,an,mois,jour,hrmn,dep,com,lat,long,...,secuexist,equipement,obs,obsm,choc,manv,vehiculeid,typevehicules,manoeuvehicules,numVehicules
0,200500000030,2005-01-13,2005,janvier,jeudi,19:45,62,62331,50.3,2.84,...,0,0,0.0,2.0,8.0,11.0,200500000030B02,18,17,1.0
1,200500000034,2005-01-19,2005,janvier,mercredi,10:45,62,62022,0.0,0.0,...,0,0,0.0,2.0,1.0,1.0,200500000034B02,10,15,1.0
2,200500000078,2005-01-26,2005,janvier,mercredi,13:15,02,02173,0.0,0.0,...,1,2,0.0,2.0,1.0,1.0,200500000078B02,7,15,1.0
3,200500000093,2005-01-03,2005,janvier,lundi,13:30,02,02810,49.255,3.094,...,0,0,0.0,2.0,3.0,21.0,200500000093B02,7,21,1.0
4,200500000170,2005-01-29,2005,janvier,samedi,18:30,76,76196,0.0,0.0,...,1,9,0.0,2.0,4.0,2.0,200500000170A01,10,2,1.0

Génération du data_piste

In [9]:
data_piste = gpd.read_file("../raw_data/amenagement cyclable/france-20231201.geojson")

In [10]:
data_piste.head()

,id_local,id_osm,num_iti,code_com_d,ame_d,regime_d,sens_d,largeur_d,local_d,statut_d,...,revet_g,access_ame,date_maj,trafic_vit,lumiere,d_service,source,project_c,ref_geo,geometry
0,geovelo_191896047_65011,191896047,None,65011,VOIE VERTE,AUTRE,UNIDIRECTIONNEL,NaN,None,EN SERVICE,...,None,None,2012-11-21,5.0,None,None,Les contributeurs OpenStreetmap,4326,OpenStreetmap,"LINESTRING (0.00608 43.08350, 0.00612 43.08351)"
1,geovelo_171145595_65089,171145595,None,65424,AUTRE,AUTRE,UNIDIRECTIONNEL,NaN,None,EN SERVICE,...,None,None,2013-01-21,5.0,None,None,Les contributeurs OpenStreetmap,4326,OpenStreetmap,"LINESTRING (0.04594 42.88898, 0.04590 42.88903..."
2,geovelo_171145595_65089,171145595,None,65089,AUTRE,AUTRE,UNIDIRECTIONNEL,NaN,None,EN SERVICE,...,None,None,2013-01-21,5.0,None,None,Les contributeurs OpenStreetmap,4326,OpenStreetmap,"LINESTRING (0.04609 42.88935, 0.04612 42.88941..."
3,geovelo_171145595_65089,171145595,None,65424,AUTRE,AUTRE,UNIDIRECTIONNEL,NaN,None,EN SERVICE,...,None,None,2013-01-21,5.0,None,None,Les contributeurs OpenStreetmap,4326,OpenStreetmap,"LINESTRING (0.04623 42.88971, 0.04624 42.88976..."
4,geovelo_145218161_86116,145218161,None,86116,AUCUN,ZONE DE RENCONTRE,UNIDIRECTIONNEL,NaN,None,EN SERVICE,...,None,None,2022-02-07,20.0,None,None,Les contributeurs OpenStreetmap,4326,OpenStreetmap,"LINESTRING (0.06853 46.46346, 0.06858 46.46349..."

Aggrégation des données pour 2022

In [23]:
data_accident.columns.values

array(['Num_Acc', 'date', 'an', 'mois', 'jour', 'hrmn', 'dep', 'com',
       'lat', 'long', 'agg', 'int', 'col', 'lum', 'atm', 'catr', 'circ',
       'nbv', 'prof', 'plan', 'lartpc', 'larrout', 'surf', 'infra',
       'situ', 'grav', 'sexe', 'age', 'trajet', 'secuexist', 'equipement',
       'obs', 'obsm', 'choc', 'manv', 'vehiculeid', 'typevehicules',
       'manoeuvehicules', 'numVehicules'], dtype=object)

In [18]:
#Récupération des csv qui nous intéressent

carac_22 = pd.read_csv("../raw_data/2022/carcteristiques-2022.csv", sep=";")
vehicules_22 = pd.read_csv("../raw_data/2022/vehicules-2022.csv", sep=";")
lieux_22 = pd.read_csv("../raw_data/2022/lieux-2022.csv", sep=";")
usagers_22 = pd.read_csv("../raw_data/2022/usagers-2022.csv", sep=";")

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_11495/1146404200.py:7: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  lieux_22 = pd.read_csv("../raw_data/2022/lieux-2022.csv", sep=";")

In [32]:
carac_22_agg = carac_22.drop('adr', axis=1, errors='ignore')

In [25]:
vehicules_22.columns.values
vehicules_22_agg = vehicules_22.drop()

array(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm',
       'choc', 'manv', 'motor', 'occutc'], dtype=object)

In [26]:
lieux_22.columns.values

array(['Num_Acc', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp',
       'prof', 'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra',
       'situ', 'vma'], dtype=object)

In [27]:
usagers_22.columns.values

array(['Num_Acc', 'id_usager', 'id_vehicule', 'num_veh', 'place', 'catu',
       'grav', 'sexe', 'an_nais', 'trajet', 'secu1', 'secu2', 'secu3',
       'locp', 'actp', 'etatp'], dtype=object)