In [2]:
import geopandas as gpd
import pandas as pd
import numpy as np

In [3]:
# lieux_all = pd.read_csv("lieux.csv")
# vehicules_all = pd.read_csv("vehi.csv")
usagers_all = pd.read_csv("usagers.csv")

/var/folders/jw/qw353j7x7h970k1t74h_j5nc0000gn/T/ipykernel_11096/294877013.py:3: DtypeWarning: Columns (8,12,16) have mixed types. Specify dtype option on import or set low_memory=False.
  usagers_all = pd.read_csv("usagers.csv")

In [4]:
usagers_all = usagers_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2636377 entries, 0 to 2636376
Data columns (total 17 columns):
 #   Column       Dtype
---  ------       -----
 0   Num_Acc      int64
 1   place        float64
 2   catu         int64
 3   grav         int64
 4   sexe         int64
 5   trajet       float64
 6   secu         float64
 7   locp         float64
 8   actp         object
 9   etatp        float64
 10  an_nais      float64
 11  num_veh      object
 12  id_vehicule  object
 13  secu1        float64
 14  secu2        float64
 15  secu3        float64
 16  id_usager    object
dtypes: float64(9), int64(4), object(4)
memory usage: 341.9+ MB

In [6]:
lieux = pd.read_csv('../clean_data/lieux_clean.csv')
usagers = pd.read_csv('../clean_data/usagers_clean.csv')
vehicules = pd.read_csv('../clean_data/vehicules_clean.csv')

In [7]:
usagers.head()

        Num_Acc  grav  sexe  trajet  secu  locp  actp  etatp  an_nais num_veh
0  200600000001     4     1       5   1.0   0.0     0    0.0   1949.0     B01
1  200600000001     4     2       5   1.0   0.0     0    0.0   1948.0     B01
2  200600000001     1     2       5   1.0   0.0     0    0.0   1921.0     A01
3  200600000002     4     2       1   1.0   0.0     0    0.0   1972.0     A01
4  200600000002     4     2       2   1.0   0.0     0    0.0   1984.0     B01

In [ ]:
# fonction rolliwn window ? applique une fonction sur une partie précise

In [9]:
usagers['aug'] = usagers['Num_Acc'].astype(str) + usagers['num_veh'].astype(str)
vehicules['aug'] = vehicules['Num_Acc'].astype(str) + vehicules['num_veh'].astype(str)

In [20]:
usagers['dup_count'] = vehicules.groupby('aug')['aug'].transform('count')
usagers =usagers.drop_duplicates(subset=['aug'], keep='first')

In [22]:
usagers.shape

(1975026, 12)

In [23]:
velo_df = pd.merge(vehicules, usagers, on='aug', how='inner')

In [24]:
velo_df.shape

(1975068, 19)

In [25]:
velo_df = velo_df[velo_df['catv'] == 1]

In [26]:
velo_df.shape

(88521, 19)

In [18]:
duplicates = velo_df[velo_df.duplicated(subset='aug', keep=False)]

In [19]:
duplicates

,Num_Acc_x,catv,obs,obsm,choc,manv,num_veh_x,aug,Num_Acc_y,grav,sexe,trajet,secu,locp,actp,etatp,an_nais,num_veh_y,dup_count
46,201800000645,1,0.0,1.0,1.0,1.0,A01,201800000645A01,201800000645,4,1,5,1.0,0.0,0,0.0,1962.0,A01,1.0
47,201800000645,1,0.0,1.0,1.0,1.0,A01,201800000645A01,201800000645,2,1,5,1.0,2.0,3,1.0,1937.0,A01,1.0
111,201800001301,1,0.0,1.0,1.0,14.0,A01,201800001301A01,201800001301,4,1,5,1.0,0.0,0,0.0,1955.0,A01,1.0
112,201800001301,1,0.0,1.0,1.0,14.0,A01,201800001301A01,201800001301,3,1,5,1.0,5.0,1,2.0,1942.0,A01,1.0
116,201800001316,1,0.0,1.0,1.0,13.0,A01,201800001316A01,201800001316,1,1,5,1.0,0.0,0,0.0,1951.0,A01,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93943,201500057949,1,0.0,1.0,1.0,1.0,A01,201500057949A01,201500057949,3,1,5,1.0,6.0,3,2.0,2011.0,A01,1.0
93980,201500058311,1,0.0,2.0,1.0,9.0,B01,201500058311B01,201500058311,4,1,1,1.0,0.0,0,0.0,2000.0,B01,1.0
93981,201500058311,1,0.0,2.0,1.0,9.0,B01,201500058311B01,201500058311,4,1,9,1.0,0.0,0,0.0,2001.0,B01,1.0
93999,201500058626,1,0.0,1.0,1.0,2.0,A01,201500058626A01,201500058626,1,1,9,1.0,0.0,0,0.0,2002.0,A01,1.0
94000,201500058626,1,0.0,1.0,1.0,2.0,A01,201500058626A01,201500058626,4,1,9,1.0,1.0,5,3.0,2006.0,A01,1.0

In [11]:
# velo_df[velo_df['catv']==1].shape

(94003, 18)

In [ ]:

# velo_df['Num_Acc']=velo_df['Num_Acc_x']
# velo_df.drop(['Num_Acc_x', 'Num_Acc_y'], axis=1, inplace=True)
# velo_df = pd.merge(velo_df, lieux, on='Num_Acc', how='inner')

In [ ]:
duplicates = velo_df[velo_df.duplicated(subset='Num_Acc', keep=False)]
duplicates

,catv,obs,obsm,choc,manv,num_veh_x,aug,grav,sexe,trajet,...,Num_Acc,catr,circ,nbv,vosp,prof,plan,surf,infra,situ
12,1,0.0,2.0,4.0,1.0,B01,201800000213B01,4,2,2,...,201800000213,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
13,1,0.0,9.0,4.0,1.0,C01,201800000213C01,4,1,2,...,201800000213,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
15,1,0.0,2.0,1.0,1.0,A01,201800000222A01,3,1,5,...,201800000222,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
16,1,0.0,0.0,4.0,2.0,B01,201800000222B01,1,1,5,...,201800000222,3.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
46,1,0.0,1.0,1.0,1.0,A01,201800000645A01,4,1,5,...,201800000645,4.0,2.0,2.0,0.0,2.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93981,1,0.0,2.0,1.0,9.0,B01,201500058311B01,4,1,9,...,201500058311,4.0,2.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0
93995,1,0.0,9.0,1.0,2.0,A01,201500058584A01,4,1,5,...,201500058584,3.0,2.0,0.0,0.0,2.0,4.0,1.0,0.0,1.0
93996,1,0.0,9.0,4.0,1.0,B01,201500058584B01,4,1,5,...,201500058584,3.0,2.0,0.0,0.0,2.0,4.0,1.0,0.0,1.0
93999,1,0.0,1.0,1.0,2.0,A01,201500058626A01,1,1,9,...,201500058626,4.0,2.0,0.0,0.0,1.0,4.0,1.0,0.0,1.0
94000,1,0.0,1.0,1.0,2.0,A01,201500058626A01,4,1,9,...,201500058626,4.0,2.0,0.0,0.0,1.0,4.0,1.0,0.0,1.0