In [7]:
import pandas as pd
import requests

In [2]:
data = pd.read_csv('../clean_data/velo_df.csv')

/var/folders/jg/x3y4bp6n6071zs7rycbnfsyc0000gn/T/ipykernel_61280/2755279035.py:1: DtypeWarning: Columns (30,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../clean_data/velo_df.csv')

In [3]:
data_filtered = data.loc[data['dep'].isin([750])]

In [4]:
data_filtered_lat = data_filtered.loc[data_filtered['lat'].isna()]

In [5]:
data_filtered_latlong = data_filtered_lat.loc[data_filtered_lat['long'].isna()]

In [6]:
data_filtered_latlong.shape

(6128, 36)

### Call API BAN lat, lon manquantes

In [14]:
data_filtered_latlong.adr.value_counts() == 51

ROUTE DE SEVRES A NEUILL     True
ROUTE DES TRIBUNES          False
PLACE DE LA CONCORDE        False
AVENUE DAUMESNIL            False
ROUTE DAUPHINE              False
                            ...
377 bis, RUE DE VAUGIRAR    False
21, RUE DE DANTZIG          False
1, AVENUE FELIX FAURE       False
94, BOULEVARD DE GRENELL    False
PLACE PIGALLE               False
Name: adr, Length: 4905, dtype: bool

In [20]:
data_filtered.loc[data_filtered['adr'] == 'ROUTE DE SEVRES A NEUILL']

,Num_Acc,catv,obs,obsm,choc,manv,aug,grav,sexe,trajet,...,agg,int,atm,col,com,adr,lat,long,dep,date
40233,201100061958,1,0.0,2.0,1.0,5.0,201100061958A01,4,1,5,...,2.0,1.0,1.0,1.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-04-05 18:00:00
40237,201100061975,1,0.0,2.0,4.0,2.0,201100061975B01,4,1,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-04-12 19:30:00
40253,201100062111,1,0.0,2.0,6.0,13.0,201100062111B01,4,1,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-06-29 11:55:00
40254,201100062111,1,0.0,2.0,2.0,1.0,201100062111A01,4,1,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-06-29 11:55:00
40268,201100062254,1,0.0,0.0,3.0,21.0,201100062254A01,4,1,5,...,2.0,1.0,1.0,7.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-10-16 15:30:00
40269,201100062279,1,0.0,0.0,1.0,21.0,201100062279A01,4,1,5,...,2.0,1.0,1.0,7.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-11-02 14:30:00
40293,201100062574,1,0.0,2.0,7.0,1.0,201100062574B01,4,2,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-06-16 18:10:00
40294,201100062574,1,0.0,2.0,1.0,13.0,201100062574A01,4,1,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2011-06-16 18:10:00
44814,201000064257,1,0.0,2.0,1.0,2.0,201000064257C01,4,1,5,...,2.0,1.0,1.0,4.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2010-04-06 19:30:00
44815,201000064257,1,0.0,2.0,1.0,2.0,201000064257A01,4,1,5,...,2.0,1.0,1.0,4.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2010-04-06 19:30:00
44816,201000064257,1,0.0,2.0,1.0,2.0,201000064257B01,4,1,5,...,2.0,1.0,1.0,4.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2010-04-06 19:30:00
44819,201000064289,1,0.0,2.0,1.0,2.0,201000064289B01,4,1,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2010-04-25 12:20:00
44820,201000064289,1,0.0,2.0,2.0,2.0,201000064289A01,4,1,5,...,2.0,1.0,1.0,2.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2010-04-25 12:20:00
44952,201000066276,1,0.0,2.0,7.0,14.0,201000066276B01,4,2,1,...,2.0,1.0,1.0,6.0,116.0,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2010-04-19 09:20:00
49275,201200057472,1,1.0,0.0,1.0,1.0,201200057472A01,4,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-03-20 12:00:00
49277,201200057491,1,0.0,2.0,1.0,1.0,201200057491A01,4,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-03-29 11:45:00
49278,201200057491,1,0.0,2.0,1.0,1.0,201200057491B01,1,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-03-29 11:45:00
49304,201200057685,1,0.0,2.0,4.0,2.0,201200057685A01,4,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-08-07 19:30:00
49305,201200057685,1,0.0,2.0,4.0,2.0,201200057685B01,4,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-08-07 19:30:00
49313,201200057770,1,0.0,0.0,1.0,21.0,201200057770A01,4,2,5,...,2.0,7.0,1.0,7.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-10-05 19:05:00
49324,201200058021,1,0.0,2.0,7.0,1.0,201200058021B01,4,1,5,...,2.0,1.0,1.0,1.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-03-31 10:10:00
49449,201200059665,1,0.0,1.0,2.0,1.0,201200059665A01,4,1,5,...,2.0,2.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2012-09-16 10:14:00
57114,200700038930,1,0.0,2.0,4.0,2.0,200700038930B01,4,1,5,...,2.0,2.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2007-06-09 13:45:00
58020,200700052238,1,0.0,1.0,1.0,1.0,200700052238A01,3,2,5,...,2.0,1.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2007-08-28 20:00:00
58638,200700059783,1,0.0,2.0,1.0,1.0,200700059783A01,3,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2007-09-05 19:10:00
58639,200700059783,1,0.0,2.0,3.0,1.0,200700059783B01,1,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2007-09-05 19:10:00
58640,200700059783,1,0.0,2.0,1.0,21.0,200700059783C01,1,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2007-09-05 19:10:00
58641,200700059783,1,0.0,2.0,1.0,2.0,200700059783D01,1,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2007-09-05 19:10:00
64087,201300054070,1,0.0,0.0,3.0,1.0,201300054070A01,4,1,5,...,2.0,1.0,1.0,7.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-04-02 20:10:00
64098,201300054185,1,0.0,1.0,4.0,1.0,201300054185A01,4,1,5,...,2.0,4.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-06-30 10:50:00
64100,201300054202,1,0.0,2.0,8.0,1.0,201300054202B01,4,1,5,...,2.0,2.0,1.0,3.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-07-12 15:15:00
64101,201300054204,1,0.0,1.0,1.0,1.0,201300054204A01,4,1,5,...,2.0,1.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-07-10 20:45:00
64110,201300054241,1,0.0,2.0,1.0,1.0,201300054241A01,4,1,5,...,2.0,1.0,7.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-08-12 18:40:00
64111,201300054241,1,0.0,2.0,1.0,1.0,201300054241B01,4,1,5,...,2.0,1.0,7.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-08-12 18:40:00
64112,201300054241,1,0.0,2.0,4.0,1.0,201300054241C01,1,1,5,...,2.0,1.0,7.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-08-12 18:40:00
64128,201300054336,1,1.0,0.0,1.0,1.0,201300054336A01,4,1,5,...,2.0,1.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2013-10-04 16:55:00
68879,201700056241,1,0.0,2.0,1.0,1.0,201700056241B01,4,1,5,...,2.0,2.0,1.0,3.0,116,ROUTE DE SEVRES A NEUILL,4886230.0,223822.0,750,2017-08-24 16:20:00
73481,201600055072,1,1.0,0.0,2.0,14.0,201600055072A01,4,1,5,...,2.0,1.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,4886870.0,224378.0,750,2016-07-30 17:45:00
73487,201600055112,1,0.0,2.0,7.0,1.0,201600055112A01,4,1,5,...,2.0,1.0,1.0,6.0,116,ROUTE DE SEVRES A NEUILL,4886070.0,223734.0,750,2016-09-03 09:38:00
73498,201600055228,1,0.0,2.0,1.0,1.0,201600055228B01,4,1,5,...,2.0,3.0,2.0,3.0,116,ROUTE DE SEVRES A NEUILL,4886230.0,223822.0,750,2016-11-05 16:30:00
73702,201600056959,1,0.0,2.0,1.0,13.0,201600056959B01,3,1,5,...,2.0,1.0,1.0,3.0,116,ROUTE DE SEVRES A NEUILL,4886200.0,223803.0,750,2016-09-29 19:00:00
78168,201400055452,1,0.0,2.0,8.0,21.0,201400055452B01,1,1,5,...,2.0,2.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-03-08 16:15:00
78169,201400055452,1,0.0,2.0,1.0,21.0,201400055452A01,4,1,5,...,2.0,2.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-03-08 16:15:00
78213,201400055731,1,0.0,2.0,8.0,15.0,201400055731A01,4,1,5,...,2.0,4.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-10-02 13:10:00
78214,201400055731,1,0.0,2.0,1.0,1.0,201400055731B01,4,1,5,...,2.0,4.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-10-02 13:10:00
78215,201400055731,1,0.0,2.0,1.0,1.0,201400055731C01,4,1,5,...,2.0,4.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-10-02 13:10:00
78216,201400055741,1,0.0,2.0,1.0,1.0,201400055741A01,4,1,5,...,2.0,1.0,2.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-10-08 17:45:00
78217,201400055741,1,0.0,2.0,4.0,1.0,201400055741B01,1,1,5,...,2.0,1.0,2.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2014-10-08 17:45:00
82867,201500054194,1,0.0,2.0,1.0,1.0,201500054194B01,4,2,1,...,2.0,1.0,1.0,3.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-07-14 17:00:00
82872,201500054219,1,0.0,2.0,4.0,2.0,201500054219C01,4,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-08-09 12:35:00
82873,201500054219,1,0.0,2.0,1.0,2.0,201500054219A01,4,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-08-09 12:35:00
82874,201500054219,1,0.0,2.0,1.0,2.0,201500054219B01,4,1,5,...,2.0,1.0,1.0,4.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-08-09 12:35:00
82875,201500054224,1,0.0,2.0,1.0,5.0,201500054224A01,4,1,5,...,2.0,1.0,1.0,1.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-08-18 16:15:00
82892,201500054332,1,0.0,2.0,3.0,2.0,201500054332A01,4,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-11-08 12:00:00
82893,201500054332,1,0.0,2.0,3.0,2.0,201500054332B01,4,1,5,...,2.0,1.0,1.0,2.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-11-08 12:00:00
82900,201500054383,1,0.0,2.0,1.0,1.0,201500054383A01,4,1,2,...,2.0,2.0,1.0,3.0,116,ROUTE DE SEVRES A NEUILL,NaN,NaN,750,2015-12-10 19:45:00

In [22]:
def get_lat_lon(address, url='https://api-adresse.data.gouv.fr/search'):

    params = {'q': address, 'citycode': 75056}
    r = requests.get(url, params)
    try: return r.json()['features'][0]['geometry']['coordinates'][::-1]
    except: print(f'ERROR : {address}, STATUS CODE : {r.status_code}')

get_lat_lon('22 r e pasy')

[48.887766, 2.335679]

In [25]:
data_filtered_latlong['latlong'] = data_filtered_latlong['adr'].map(lambda address: get_lat_lon(address))

ERROR : R DE LA CITE Q DE LA COR, STATUS CODE : 200
ERROR : CRS DE VINCENNES BD DE C, STATUS CODE : 200
ERROR : R DU TEMPLE R DUPETIT TH, STATUS CODE : 200
ERROR : R DE LOURMEL AV FELIX FA, STATUS CODE : 200
ERROR : R G SAINT HILAIRE R DU F, STATUS CODE : 200
ERROR : AV BRUNETIERE SQ DE VAUC, STATUS CODE : 200
ERROR : CRS DE VINCENNES BD DE C, STATUS CODE : 200
ERROR : CRS DE VINCENNES R DES P, STATUS CODE : 200
ERROR : R RIVOLI R F DUVAL, STATUS CODE : 200
ERROR : R DES EPINETTES PASS POU, STATUS CODE : 200
ERROR : R COMMINES BD FILLES CAL, STATUS CODE : 200
ERROR : RTE PT JOUR SURESNES RTE, STATUS CODE : 200
ERROR : RTE PT JOUR SURESNES RTE, STATUS CODE : 200
ERROR : R DU GRAND PRIEURE R J P, STATUS CODE : 200
ERROR : R DE CRIMEE R GASTON TES, STATUS CODE : 200
ERROR : R BUFFAULT R DU FG MONTM, STATUS CODE : 200
ERROR : PT DE LA CONCORDE Q D OR, STATUS CODE : 200
ERROR : L10184 AV EDOUARD VAILLA, STATUS CODE : 200
ERROR : L14581 RTE SEVRES A NEUI, STATUS CODE : 200
ERROR : CRS LA REINE AV W CHURCH, STATUS CODE : 200
ERROR : R GREN ST LAZARE R ST MA, STATUS CODE : 200
ERROR : R J PIERRE TIMBAUD R SAI, STATUS CODE : 200
ERROR : BD JOURDAN R DU PERE COR, STATUS CODE : 200
ERROR : AV DE CLICHY R GUY MOQUE, STATUS CODE : 200
ERROR : n?ant, BOULEVARD DE PORT, STATUS CODE : 200
ERROR : 2, PLACE SAINT AUGUSTIN, STATUS CODE : 504
ERROR : /, AVENUE DAUMESNIL, STATUS CODE : 400
ERROR : 177, RUE ORDENER, STATUS CODE : 504
ERROR : , RUE PASQUIER, STATUS CODE : 400
ERROR : , AVENUE DAUMESNIL, STATUS CODE : 400
ERROR : /, BOULEVARD DIDEROT, STATUS CODE : 400
ERROR : ., ROUTE DE LA SEINE A L, STATUS CODE : 400
ERROR : VENUE DE LA PORTE DE CL, STATUS CODE : 200
ERROR : /, ROUTE DES TRIBUNES, STATUS CODE : 400
ERROR : /, ROUTE DES TRIBUNES, STATUS CODE : 400
ERROR : , PLACE DE LA NATION, STATUS CODE : 400
ERROR : , PLACE CHARLES MICHELS, STATUS CODE : 400
ERROR : 4, RUE GUSTAVE CHARPENTI, STATUS CODE : 504
ERROR : /, BOULEVARD HENRI IV, STATUS CODE : 400
ERROR : PL DES INVALIDES R P BLE, STATUS CODE : 200
ERROR : R J BAPT BERLIER BD MASS, STATUS CODE : 200
ERROR : RTE DE BOURBON CAR DE PY, STATUS CODE : 200
ERROR : R SOUFFLOT R VICTOR COUS, STATUS CODE : 200
ERROR : R D ALESIA R AMIRAL MOUC, STATUS CODE : 200
ERROR : BD DAVOUT PL PORTE BAGNO, STATUS CODE : 200
ERROR : AV DE CLICHY R GUY MOQUE, STATUS CODE : 200
ERROR : R DEBROUSSE AV DU PDT WI, STATUS CODE : 200
ERROR : R CARDINET R LEON COGNIE, STATUS CODE : 200
ERROR : CAR DE PYRAMIDE RTE ROYA, STATUS CODE : 200
ERROR : CAR DE PYRAMIDE RTE ROYA, STATUS CODE : 200
ERROR : R BOUCHARDON R RENE BOUL, STATUS CODE : 200
ERROR : L16222 PL PTE DE SAINT C, STATUS CODE : 200
ERROR : BD D INDOCHINE AV PTE BR, STATUS CODE : 200
ERROR : R PT  LOUIS PHILIPPE QU, STATUS CODE : 200
ERROR : R F DE NEUFCHATEAU R RIC, STATUS CODE : 200
ERROR : R F DE CROISSET AV PTE, STATUS CODE : 200
ERROR : AV DAUMESNIL ECH PORTE D, STATUS CODE : 200
ERROR : CRS LA REINE AV W CHURCH, STATUS CODE : 200
ERROR : R LECOURBE R VASCO DE GA, STATUS CODE : 200
ERROR : L14585 RTE SEVRES A NEUI, STATUS CODE : 200
ERROR : L14585 RTE SEVRES A NEUI, STATUS CODE : 200
ERROR : AV DE CLICHY R DOCTEUR H, STATUS CODE : 200
ERROR : AV DAUMESNIL AV LEDRU RO, STATUS CODE : 200
ERROR : PT DE GRENELLE PL FERNAN, STATUS CODE : 200
ERROR : R G CHARPENTIER AV PORTE, STATUS CODE : 200
ERROR : R D ALESIA R H MAINDRON, STATUS CODE : 200
ERROR : BD MASSENA AV PORTE DE V, STATUS CODE : 200
ERROR : AV E REYER AV PTE DE MON, STATUS CODE : 200
ERROR : AV E REYER AV PTE DE MON, STATUS CODE : 200
ERROR : R CI UNIVERSITAIRE BD JO, STATUS CODE : 200
ERROR : VERD PO NOTRE DAME  PO A, STATUS CODE : 200
ERROR : AV DAUMESNIL AV LEDRU RO, STATUS CODE : 200
ERROR : BD PEREIRE PL PORTE MAIL, STATUS CODE : 200
ERROR : R COMMINES BD FILLES CAL, STATUS CODE : 200
ERROR : POR DE BOULOGNE ALL REIN, STATUS CODE : 200
ERROR : R DE BERCY AV LEDRU ROLL, STATUS CODE : 200
ERROR : L4597 JAR TINO ROSSI, STATUS CODE : 200
ERROR : PL DU CHATELET PO AU CHA, STATUS CODE : 200
ERROR : L14585 RTE SEVRES A NEUI, STATUS CODE : 200
ERROR : PO CHANGE QU DE L HORLOG, STATUS CODE : 200
ERROR : L13446 AV MAL F D ESPERE, STATUS CODE : 200
ERROR : PL DE L ALMA PO DE L ALM, STATUS CODE : 200
ERROR : R MANIN AV MATHURIN MORE, STATUS CODE : 200
ERROR : PO CHANGE QU DE LA CORSE, STATUS CODE : 200
ERROR : BD MAC DONALD AV PORTE A, STATUS CODE : 200
ERROR : VOIE EXPRESS RIVE GAUCHE, STATUS CODE : 200
ERROR : VOIE EXPRESS RIVE GAUCHE, STATUS CODE : 200
ERROR : , BOULEVARD HAUSSMANN, STATUS CODE : 400
ERROR : angle, PLACE DENFERT ROC, STATUS CODE : 200
ERROR : lampadaire, ROUTE DES TR, STATUS CODE : 200
ERROR : /, RUE REAUMUR, STATUS CODE : 400
ERROR : , BOULEVARD SAINT MICHEL, STATUS CODE : 400
ERROR : , BOULEVARD DE COURCELLE, STATUS CODE : 400
ERROR : /72, BOULEVARD DES BATIG, STATUS CODE : 400
ERROR : , RUE SAINT ANTOINE, STATUS CODE : 400
ERROR : , RUE DE LA CROIX NIVERT, STATUS CODE : 400
ERROR : , SQUARE BOUCICAUT, STATUS CODE : 400
ERROR : ., AVENUE DE GRAVELLE, STATUS CODE : 400
ERROR : ., AVENUE DE GRAVELLE, STATUS CODE : 400
ERROR : , AVENUE DU GENERAL LECL, STATUS CODE : 400
ERROR : SQUARE DE L ASPIRANT DUN, STATUS CODE : 200
ERROR : , RUE DE CLIGNANCOURT, STATUS CODE : 400
ERROR : /, BOULEVARD VOLTAIRE, STATUS CODE : 400
ERROR : 34 (face), QUAI DE LA RA, STATUS CODE : 200
ERROR : 2, PLACE JACQUES BONSERG, STATUS CODE : 504
ERROR : /, ROUTE ROYALE DE BEAUT, STATUS CODE : 400
ERROR : /, ROUTE ROYALE DE BEAUT, STATUS CODE : 400
ERROR : /, ROUTE ROYALE DE BEAUT, STATUS CODE : 400
ERROR : /, ROUTE ROYALE DE BEAUT, STATUS CODE : 400
ERROR : ., ROUTE DAUPHINE, STATUS CODE : 400
ERROR : ., ROUTE DAUPHINE, STATUS CODE : 400
ERROR : , RUE RAYMOND LOSSERAND, STATUS CODE : 400
ERROR : --, QUAI DE LA TOURNELLE, STATUS CODE : 400
ERROR : /, BOULEVARD DE LA CHAPE, STATUS CODE : 400
ERROR : , RUE DE RIVOLI, STATUS CODE : 400
ERROR : /, BOULEVARD HENRI IV, STATUS CODE : 400
ERROR : 1, RUE DE BROSSE, STATUS CODE : 504
ERROR : /, PONT MORLAND, STATUS CODE : 400
ERROR : /, RUE DES NONNAINS D HY, STATUS CODE : 400
ERROR : --, RUE DES ARCHIVES, STATUS CODE : 400
ERROR : VOIE EXPRESS RIVE GAUCHE, STATUS CODE : 200
ERROR : /, BOULEVARD DE MENILMON, STATUS CODE : 400
ERROR : /, BOULEVARD RICHARD LEN, STATUS CODE : 400
ERROR : , RUE PARROT, STATUS CODE : 400
ERROR : , RUE DE LA CONVENTION, STATUS CODE : 400
ERROR : , AVENUE HENRI MARTIN, STATUS CODE : 400
ERROR : /, RUE DU CAPITAINE LAGA, STATUS CODE : 400
ERROR : , AVENUE BENOIT FRACHON, STATUS CODE : 400
ERROR : /, RUE DE RIVOLI, STATUS CODE : 400
ERROR : , AVENUE EMILE ZOLA, STATUS CODE : 400

In [29]:
data_filtered_latlong.head()

,Num_Acc,catv,obs,obsm,choc,manv,aug,grav,sexe,trajet,...,int,atm,col,com,adr,lat,long,dep,date,latlong
33204,200500045838,1,0.0,0.0,2.0,1.0,200500045838A01,3,1,1,...,1.0,1.0,7.0,20.0,25 AV GAMBETTA,NaN,NaN,750,2005-07-02 12:45:00,"[48.863955, 2.391282]"
33205,200500045841,1,0.0,2.0,3.0,1.0,200500045841B01,3,2,5,...,1.0,1.0,3.0,17.0,12 R NAVIER,NaN,NaN,750,2005-07-04 17:40:00,"[48.895803, 2.32479]"
33206,200500045858,1,0.0,2.0,3.0,18.0,200500045858A01,4,1,5,...,2.0,1.0,3.0,9.0,R SAINT LAZARE R TAIBOUT,NaN,NaN,750,2005-07-18 14:05:00,"[48.876721, 2.332669]"
33207,200500045864,1,0.0,2.0,1.0,1.0,200500045864B01,4,1,5,...,1.0,1.0,3.0,6.0,24 R GUYNEMER,NaN,NaN,750,2005-07-01 15:30:00,"[48.846859, 2.332301]"
33208,200500045876,1,0.0,2.0,3.0,19.0,200500045876A01,4,1,1,...,3.0,1.0,3.0,6.0,Q MALAQUAIS R BONAPARTE,NaN,NaN,750,2005-07-02 19:25:00,"[48.85789, 2.335092]"

In [35]:
data_filtered_latlong.dtypes

Num_Acc        int64
catv           int64
obs          float64
obsm         float64
choc         float64
manv         float64
aug           object
grav           int64
sexe           int64
trajet         int64
secu         float64
locp         float64
actp           int64
etatp        float64
an_nais      float64
dup_count      int64
catr         float64
circ         float64
nbv          float64
vosp         float64
prof         float64
plan         float64
surf         float64
infra        float64
situ         float64
lum          float64
agg          float64
int          float64
atm          float64
col          float64
com           object
adr           object
lat           object
long          object
dep           object
date          object
latlong       object
latitude     float64
dtype: object

In [39]:
data_filtered_latlong['latlong'] = data_filtered_latlong['latlong'].astype(str)

data_filtered_latlong['latlong'] = data_filtered_latlong['latlong'].str.strip('[]').str.replace(' ', '')

data_filtered_latlong[['lat', 'long']] = data_filtered_latlong['latlong'].str.split(',', expand=True)

In [ ]:
data_filtered_latlong = data_filtered_latlong.drop(columns=['latlong'], inplace=False)

In [45]:
data_filtered_latlong = data_filtered_latlong.drop(columns=['latitude'], inplace=False)

In [48]:
data_filtered_latlong.dropna(subset=['lat', 'long'], inplace=True)

In [50]:
data_filtered_latlong.head()

,Num_Acc,catv,obs,obsm,choc,manv,aug,grav,sexe,trajet,...,agg,int,atm,col,com,adr,lat,long,dep,date
33204,200500045838,1,0.0,0.0,2.0,1.0,200500045838A01,3,1,1,...,2.0,1.0,1.0,7.0,20.0,25 AV GAMBETTA,48.863955,2.391282,750,2005-07-02 12:45:00
33205,200500045841,1,0.0,2.0,3.0,1.0,200500045841B01,3,2,5,...,2.0,1.0,1.0,3.0,17.0,12 R NAVIER,48.895803,2.32479,750,2005-07-04 17:40:00
33206,200500045858,1,0.0,2.0,3.0,18.0,200500045858A01,4,1,5,...,2.0,2.0,1.0,3.0,9.0,R SAINT LAZARE R TAIBOUT,48.876721,2.332669,750,2005-07-18 14:05:00
33207,200500045864,1,0.0,2.0,1.0,1.0,200500045864B01,4,1,5,...,2.0,1.0,1.0,3.0,6.0,24 R GUYNEMER,48.846859,2.332301,750,2005-07-01 15:30:00
33208,200500045876,1,0.0,2.0,3.0,19.0,200500045876A01,4,1,1,...,2.0,3.0,1.0,3.0,6.0,Q MALAQUAIS R BONAPARTE,48.85789,2.335092,750,2005-07-02 19:25:00